@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="dfyz199823@mail.ru">dfyz199823@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="dfyz199823@mail.ru">dfyz199823@mail.ru</a>
</address>