@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Joined";
}
<body>
    <div>
        <p>
            Вы успешно зарегистрировались в событии. @Html.ActionLink("Нажмите сюда для перехода на главную", "Index", "Home")
        </p>
    </div>
</body>


